<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Todo</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" routerLink="todos" routerLinkActive="active">Todo List</a>
                <a class="nav-link" routerLink="create-todo" routerLinkActive="active">Add New Todo</a>
            </div>
        </div>
    </div>
</nav>

<h1 class="text-center my-4"> {{title}} </h1>

<div class="container my-4">
    <hr>
    <router-outlet></router-outlet>
</div>

<br>

<!-- Footer -->
<footer class="footer fixed-bottom">
    <span>All Rights Reserved 2024 @HarshalKhandalkar</span>
</footer>